<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html::head(title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title Input Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="fragments.html::menu(menu)"></div>
<br><br><br>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Set ChatRoom Details</h1>
      <form th:action="@{/chat/open/g}" method="post">
        <div class="form-group">
          <label for="title">채팅방 이름</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label for="memberList">참여자 ID</label>
          <input type="text" class="form-control" id="memberList" name="memberList" placeholder="Enter member's Id, separate with -">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<!-- Bootstrap JS and jQuery (optional) -->

</body>
</html>
