<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Chat Room List</title>
  <head th:insert="fragments.html::head(title)"></head>
</head>

<body>
<div th:insert="fragments.html::menu(menu)"></div>
<br><br><br>
<div class="container mt-5">
  <h1>Chat</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Chat</th>
    </tr>
    </thead>
    <tbody>
    <!-- 반복문으로 멤버 리스트의 각 항목 순회 -->
    <tr th:each="roomChat : ${roomChats}">
      <!-- member 객체의 필드를 출력 -->
      <td th:text="${roomChat.sender}"></td>
      <td th:text="${roomChat.data}"></td>
      <td th:text="${roomChat.createdAt}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>

</html>