<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" type="text/css">
  <head th:insert="fragments.html::head(title)"></head>
</head>
<body>
<div th:insert="fragments.html::menu(menu)"></div>
<br><br><br>
<div sec:authorize="isAuthenticated()">
  <div class="authentication">
    <b>Hi, <span sec:authentication="principal.username"></span></b>
    <b><a class="nav-link" th:href="@{/logout}">LOGOUT</a></b>
  </div>
  <div>
    <a th:href="@{/chat/open/g/title}">단체톡방 생성하기</a>
  </div>
</div>
</body>
</html>